<p-card *ngIf="(author$ | async)! as author"
        [header]="author.displayName"
        class="grid flex justify-content-center">
  <ng-template pTemplate="subtitle">
    <p-button (onClick)="editAuthor(author.id!)" *ngIf="(authService.isUserAdmin$ | async)"
              icon="pi pi-pencil"
              label="Uredi autora"></p-button>
  </ng-template>
  <p-progressSpinner *ngIf="loading"></p-progressSpinner>
  <ng-template pTemplate="content">
    <div class="flex justify-content-center">
      <p-galleria [containerStyle]="{'max-width': '90vw'}" [numVisible]="5"
                  *ngIf="author.authorImages.length > 0"
                  [responsiveOptions]="responsiveOptions" [value]="images!">
        <ng-template let-item pTemplate="item">
          <img [src]="item" style="width: 100%;"/>
        </ng-template>
        <ng-template let-item pTemplate="thumbnail">
          <div class="grid p-nogutter flex justify-content-center">
            <img [src]="item" style="display: block; height: 100px;"/>
          </div>
        </ng-template>
      </p-galleria>
    </div>

    <div class="grid">
      <div class="col-6">
        <h4>Ime</h4>
        <p>{{author.firstName}}</p>
      </div>
      <div class="col-6">
        <h4>Prezime</h4>
        <p>{{author.lastName}}</p>
      </div>
      <div class="col-6">
        <h4>Godina rođenja</h4>
        <p>{{author.yearOfBirth | date:'yyyy.'}}</p>
      </div>
      <div class="col-6">
        <h4>Godina smrti</h4>
        <p>{{author.yearOfDeath ? (author.yearOfDeath | date:'yyyy.') : 'Još živ/a'}}</p>
      </div>
      <div *ngIf="author.authorsGenres.length > 0" class="col-6">
        <h4>Pisao/la žanrove</h4>
        <p *ngFor="let genre of author.authorsGenres"
           style="cursor: pointer;">
          <span [routerLink]="'/genre/' + genre.id"
                class="underline link-text"
                pTooltip="Pogledajte žanr">{{genre.name}}</span>; </p>
      </div>

      <app-review (onSubmit)="submitReview($event, author.id!)"
                  [clearForm]="clearReviewForm$!"
                  [disabled]="!(authService.isAuthenticated$ | async)!"
                  [loading]="reviewSubmitLoading"
                  class="col-12"></app-review>
      <app-review-list reviewType="AUTHOR"
                       [loadReviewsEvent]="(loadReviews$ | async)!"
                       [reviewEntityId]="author.id!"
                       class="col-12"></app-review-list>

    </div>
  </ng-template>
</p-card>
