<div style="width: 100%;" [style]="{'display': (averageReview !== -1)? 'block': 'none'}">

  <p-progressSpinner *ngIf="reviewsLoading"></p-progressSpinner>

  <p-divider class="col-12"></p-divider>
  <h3>Recenzije</h3>

  <div>
    <p *ngIf="averageReview"><span class="font-bold">Prosječna ocjena: </span>{{(averageReview | number: '1.0-1')!}}/5</p>

    <div *ngFor="let review of (reviews$ | async)!">
      {{review.reviewGrade}}
      {{review.description}}
    </div>
  </div>

  <p-paginator (onPageChange)="loadReviewPage($event)" [rows]="10" [totalRecords]="totalReviews!"></p-paginator>

</div>
