<p-card *ngIf="(book$ | async)! as book"
        [header]="book.title"
        class="grid flex justify-content-center">
  <ng-template pTemplate="subtitle">
    <p-button (onClick)="editBook(book.id!)" *ngIf="(authService.isUserAdmin$ | async)"
              icon="pi pi-pencil"
              label="Uredi knjigu"></p-button>
  </ng-template>
  <p-progressSpinner *ngIf="loading"></p-progressSpinner>
  <ng-template pTemplate="content">
    <p-galleria [containerStyle]="{'max-width': '90vw'}" [numVisible]="5"
                *ngIf="book.bookImages.length > 0"
                [responsiveOptions]="responsiveOptions" [value]="images!">
      <ng-template let-item pTemplate="item">
        <img [src]="item" style="width: 100%;"/>
      </ng-template>
      <ng-template let-item pTemplate="thumbnail">
        <div class="grid p-nogutter flex justify-content-center">
          <img [src]="item" style="display: block; height: 100px;"/>
        </div>
      </ng-template>
    </p-galleria>

    <div class="grid">
      <div class="col-6">
        <h4>Naslov</h4>
        <p>{{book.title}}</p>
      </div>
      <div class="col-6">
        <h4>ISBN</h4>
        <p>{{book.isbn}}</p>
      </div>
      <div class="col-6">
        <h4>Autor knjige</h4>
        <p [routerLink]="'/author/' + book.bookAuthor!.id" class="underline link-text"
           pTooltip="Pogledajte autora"
           style="cursor: pointer;">{{book.bookAuthor!.displayName}}</p>
      </div>
      <div class="col-6">
        <h4>Žanrovi knjige</h4>
        <p *ngFor="let genre of book.genres!"
           style="cursor: pointer;">
          <span [routerLink]="'/genre/' + genre.id"
                class="underline link-text"
                pTooltip="Pogledajte žanr">{{genre.name}}</span>; </p>
      </div>

      <p-divider class="col-12"></p-divider>

      <h3>Dodajte svoju recenziju</h3>

      <app-review (onSubmit)="submitReview($event, book.id!)"
                  [clearForm]="clearReviewForm$!"
                  [disabled]="!(authService.isAuthenticated$ | async)!"
                  [loading]="reviewSubmitLoading"
                  class="col-12"></app-review>
      <app-review-list reviewType="BOOK"
                       [loadReviewsEvent]="(loadReviews$ | async)!"
                       [advertId]="book.id!"
                       class="col-12"></app-review-list>

    </div>
  </ng-template>
</p-card>
