<div class="grid flex justify-content-center p-m-4">
  <p-card [header]="id? 'Uredite autora': 'Unesite novog autora'">
    <form class="p-fluid grid flex" [formGroup]="authorForm">
      <div class="p-field col-12 lg:col-6">
        <span class="p-float-label">
            <input type="text" id="firstName" pInputText formControlName="firstName">
            <label for="firstName">Ime *</label>
        </span>
      </div>

      <div class="p-field col-12 lg:col-6">
        <span class="p-float-label">
            <input type="text" id="lastName" pInputText formControlName="lastName">
            <label for="lastName">Prezime *</label>
        </span>
      </div>

      <div class="p-field col-12 lg:col-6">
        <span class="p-float-label">
            <p-calendar view="year" dateFormat="yy" id="yearOfBirth"
                        [showButtonBar]="true"
                        formControlName="yearOfBirth"></p-calendar>
            <label for="yearOfBirth">Godina rođenja *</label>
        </span>
      </div>

      <div class="p-field col-12 lg:col-6">
        <span class="p-float-label">
            <p-calendar view="year" dateFormat="yy" id="yearOfDeath"
                        [showButtonBar]="true"
                        formControlName="yearOfDeath"></p-calendar>
            <label for="yearOfDeath">Godina smrti</label>
        </span>
      </div>

      <!-- Odabir authorsGenres -->

      <div class=" col-12 lg:col-6">
        <div class="p-field p-inputgroup">
          <span>
            <p-button icon="pi pi-plus" (onClick)="openNewGenreDialog()" pTooltip="Dodaj novi žanr"></p-button>
          </span>
          <span class="p-float-label">
            <p-multiSelect formControlName="authorsGenres"
                           [options]="(genres$ | async)!"
                           [filter]="true"
                           appendTo="body"
                           id="authorsGenres"
                           dataKey="id"
                           optionLabel="name">
            </p-multiSelect>
            <label for="authorsGenres">Žanrovi *</label>
          </span>
        </div>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <button pButton type="submit" (click)="submitAuthor()"
              [disabled]="!authorForm.valid || loading"
              [loading]="loading"
              label="Spremi autora"></button>
    </ng-template>
  </p-card>
</div>
