<div class="grid flex justify-content-center p-m-4">
  <p-card [header]="id? 'Uredite autora': 'Unesite novog autora'">
    <form [formGroup]="authorForm" class="p-fluid grid flex">
      <div class="p-field col-12 lg:col-6">
        <span class="p-float-label">
            <input formControlName="firstName" id="firstName" pInputText type="text">
            <label for="firstName">Ime *</label>
        </span>
      </div>

      <div class="p-field col-12 lg:col-6">
        <span class="p-float-label">
            <input formControlName="lastName" id="lastName" pInputText type="text">
            <label for="lastName">Prezime *</label>
        </span>
      </div>

      <div class="p-field col-12 lg:col-6">
        <span class="p-float-label">
            <p-calendar [showButtonBar]="true" appendTo="body" dateFormat="yy"
                        formControlName="yearOfBirth"
                        id="yearOfBirth"
                        view="year"></p-calendar>
            <label for="yearOfBirth">Godina rođenja *</label>
        </span>
      </div>

      <div class="p-field col-12 lg:col-6">
        <span class="p-float-label">
            <p-calendar [showButtonBar]="true" appendTo="body" dateFormat="yy"
                        formControlName="yearOfDeath"
                        id="yearOfDeath"
                        view="year"></p-calendar>
            <label for="yearOfDeath">Godina smrti</label>
        </span>
      </div>

      <!-- Odabir authorsGenres -->

      <div class=" col-12 lg:col-6">
        <div class="p-field p-inputgroup">
          <span>
            <p-button (onClick)="openNewGenreDialog()" icon="pi pi-plus" pTooltip="Dodaj novi žanr"></p-button>
          </span>
          <span class="p-float-label">
            <p-multiSelect [filter]="true"
                           [options]="(genres$ | async)!"
                           appendTo="body"
                           dataKey="id"
                           formControlName="authorsGenres"
                           id="authorsGenres"
                           optionLabel="name">
            </p-multiSelect>
            <label for="authorsGenres">Žanrovi *</label>
          </span>
        </div>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <button (click)="submitAuthor()" [disabled]="!authorForm.valid || loading" [loading]="loading"
              label="Spremi autora"
              pButton
              type="submit"></button>
    </ng-template>
  </p-card>
</div>
