<p-card [header]="advert.title"
        *ngIf="(advert$ | async)! as advert"
        class="grid flex justify-content-center">
  <ng-template pTemplate="subtitle">
    <h3>Objavio korisnik <span class="font-bold font-italic">{{advert.userCreated!.username}}</span></h3>
  </ng-template>
  <p-progressSpinner *ngIf="loading"></p-progressSpinner>
  <ng-template pTemplate="content">
    <p-galleria [value]="images" [responsiveOptions]="responsiveOptions"
                [containerStyle]="{'max-width': '90vw'}" [numVisible]="5">
      <ng-template pTemplate="item" let-item>
        <img [src]="item" style="width: 100%;" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid p-nogutter flex justify-content-center">
          <img [src]="item" style="display: block; height: 100px;" />
        </div>
      </ng-template>
    </p-galleria>

    <div class="grid">
      <div class="col-12">
        <h4 class="font-bold col-12">Opis</h4>
        <p>{{advert.description}}</p>
      </div>
      <div class="col-6">
        <h4>Vrsta oglasa</h4>
        <p><span><i class="pi pi-tag advert-category-icon"></i></span> {{advert.advertType === 'LOOKING'? 'Tražim': 'Nudim'}}</p>
      </div>
      <div class="col-6">
        <h4>Vrsta transakcije</h4>
        <p>{{advert.transactionType === 'BUY'? 'Kupovina': 'Posudba'}}</p>
      </div>
      <div class="col-12" *ngIf="advert.price">
        <h4>Cijena</h4>
        <p>{{advert.price!}} kn</p>
      </div>
      <div class="col-6">
        <h4>Knjiga</h4>
        <p style="cursor: pointer;" class="underline link-text"
           pTooltip="Pogledajte knjigu"
           [routerLink]="'/book/' + advert.advertisedBook!.id">{{advert.advertisedBook!.title}}</p>
      </div>
      <div class="col-6">
        <h4>Autor knjige</h4>
        <p style="cursor: pointer;" class="underline link-text"
           pTooltip="Pogledajte autora"
           [routerLink]="'/author/' + advert.advertisedBook!.bookAuthor!.id">{{advert.advertisedBook!.bookAuthor!.displayName}}</p>
      </div>

    </div>
  </ng-template>
</p-card>
