<div class="grid flex justify-content-center p-m-4">
  <p-card header="Napravite novi oglas">
    <form class="p-fluid grid flex" [formGroup]="form">
      <!-- Naslov oglasa -->
      <div class="p-field col-12">
        <span class="p-float-label">
            <input type="text" id="title" pInputText formControlName="title">
            <label for="title">Naslov oglasa *</label>
        </span>
      </div>

      <!-- Opis oglasa -->
      <div class="p-field col-12">
        <span class="p-float-label">
            <textarea id="description" rows="3" formControlName="description" pInputTextarea></textarea>
            <label for="description">Opis oglasa *</label>
        </span>
      </div>

      <!-- Odabir knjige -->
      <div class=" col-12 lg:col-6">
        <div class="p-field p-inputgroup" formGroupName="advertisedBook">
          <span>
            <p-button icon="pi pi-plus" (onClick)="openNewBookDialog()" pTooltip="Dodaj novu knjigu"></p-button>
          </span>
          <span class="p-float-label">
            <p-dropdown formControlName="id"
                        [options]="(books | async)!"
                        [showClear]="true"
                        [filter]="true"
                        id="advertisedBook"
                        optionLabel="displayName"
                        optionValue="id"
                        [autoDisplayFirst]="false">
            </p-dropdown>
            <label for="advertisedBook">Knjiga *</label>
          </span>
        </div>
      </div>

      <!-- Vrsta oglasa -->
      <div class="p-field col-12 lg:col-6">
        <span class="p-float-label">
            <p-dropdown formControlName="advertType"
                        [options]="advertTypes"
                        id="advertType"
                        [autoDisplayFirst]="false">
            </p-dropdown>
            <label for="advertType">Vrsta oglasa *</label>
        </span>
      </div>

      <!-- Vrsta transakcije -->
      <div class="p-field col-12 lg:col-6">
        <span class="p-float-label">
            <p-dropdown formControlName="transactionType"
                        [options]="transactionTypes"
                        id="transactionType"
                        [autoDisplayFirst]="false">
            </p-dropdown>
            <label for="transactionType">Vrsta transakcije *</label>
        </span>
      </div>

      <!-- Cijena transakcije -->
      <div class="p-field col-12 lg:col-6">
        <span class="p-float-label">
            <p-inputNumber mode="currency" currency="HRK" locale="hr-HR" id="price"
                           formControlName="price"></p-inputNumber>
            <label for="price">Cijena transakcije</label>
        </span>
      </div>

    </form>

    <ng-template pTemplate="footer">
      <button pButton type="submit" (click)="submitAdvert()"
              [disabled]="!form.valid || loading"
              [loading]="loading"
              label="Predaj oglas"></button>
    </ng-template>
  </p-card>
</div>
