<p-table #table (onLazyLoad)="loadAuthors($event)"
         [globalFilterFields]="['firstName','lastName', 'yearOfBirth', 'yearOfDeath']" [lazy]="true"
         [loading]="authorsLoading" [paginator]="true" [resizableColumns]="true" [responsive]="true"
         [rowsPerPageOptions]="[2, 10, 20]" [rows]="10"
         [totalRecords]="totalAuthors" [value]="(authors$ | async)!"
         dataKey="id" styleClass="p-datatable-striped">

  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn>Id</th>
      <th pResizableColumn pSortableColumn="firstName">Ime
        <p-sortIcon field="firstName"></p-sortIcon>
      </th>
      <th pResizableColumn pSortableColumn="lastName">Prezime
        <p-sortIcon field="lastName"></p-sortIcon>
      </th>
      <th pResizableColumn pSortableColumn="yearOfBirth">Godina rođenja
        <p-sortIcon field="yearOfBirth"></p-sortIcon>
      </th>
      <th pResizableColumn pSortableColumn="yearOfDeath">Godina smrti
        <p-sortIcon field="yearOfDeath"></p-sortIcon>
      </th>
      <th style="width:8rem"></th>
    </tr>
    <tr>
      <th>
        <button (click)="newAuthor()" class="p-button-outlined"
                icon="pi pi-plus" pButton
                pTooltip="Novi autor"></button>
      </th>
      <th>
        <input #firstName (input)="table.filter($any($event.target).value, 'firstName', 'equals')"
               class="p-column-filter" pInputText placeholder="Unesite ime"/>
      </th>
      <th>
        <input #lastName (input)="table.filter($any($event.target).value, 'lastName', 'equals')"
               class="p-column-filter" pInputText placeholder="Unesite prezime"/>
      </th>
      <th>
        <p-columnFilter [showClearButton]="false" [showMenu]="false"
                        field="yearOfBirth" matchMode="equals">
          <ng-template let-filter="filterCallback" let-value pTemplate="filter">
            <p-calendar (onClearClick)="filter($event.value)" (onSelect)="filter($event)" [maxDate]="today"
                        [ngModel]="value" [showButtonBar]="true"
                        appendTo="body"
                        dateFormat="yy"
                        placeholder="Godina rođenja" view="year">
            </p-calendar>
          </ng-template>
        </p-columnFilter>
      </th>
      <th>
        <p-columnFilter [showClearButton]="false" [showMenu]="false" field="yearOfDeath"
                        matchMode="equals" type="menu">
          <ng-template let-filter="filterCallback" let-value pTemplate="filter">
            <p-calendar (onClearClick)="filter($event.value)" (onSelect)="filter($event)" [maxDate]="today"
                        [ngModel]="value" [showButtonBar]="true"
                        appendTo="body"
                        dateFormat="yy"
                        placeholder="Godina smrti" view="year">
            </p-calendar>
          </ng-template>
        </p-columnFilter>
      </th>
      <th style="width:4rem"></th>
    </tr>
  </ng-template>
  <ng-template let-author pTemplate="body">
    <tr>
      <td>
        <span class="p-column-title">Id</span>
        {{author.id}}
      </td>
      <td>
        <span class="p-column-title">Ime</span>
        {{author.firstName}}
      </td>
      <td>
        <span class="p-column-title">Prezime</span>
        {{author.lastName}}
      </td>
      <td>
        <span class="p-column-title">Godina rođenja</span>
        {{author.yearOfBirth | date:'yyyy.'}}
      </td>
      <td>
        <span class="p-column-title">Godina smrti</span>
        {{author.yearOfDeath | date:'yyyy.'}}
      </td>
      <td>
        <p-splitButton (onClick)="router.navigate(['/author/' + author.id])" (onDropdownClick)="selectedAuthorId=author.id" [model]="(authorActions$ | async)!"
                       appendTo="body" icon="pi pi-search"
                       pTooltip="Pregledaj autora"></p-splitButton>
      </td>
    </tr>
  </ng-template>
</p-table>
