<p-table [value]="(genres$ | async)!" [lazy]="true"
         (onLazyLoad)="loadGenres($event)" dataKey="id"
         [paginator]="true" [rows]="10" [totalRecords]="totalGenres" [loading]="genresLoading"
         [rowsPerPageOptions]="[2, 10, 20]" styleClass="p-datatable-striped"
         [resizableColumns]="true" [responsive]="true"
         [globalFilterFields]="['firstName','description', 'yearOfBirth', 'yearOfDeath']" #table>

  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn>Id</th>
      <th pResizableColumn pSortableColumn="name">Naziv <p-sortIcon field="name"></p-sortIcon></th>
      <th pResizableColumn pSortableColumn="description">Opis <p-sortIcon field="description"></p-sortIcon></th>
      <th style="width:8rem"></th>
    </tr>
    <tr>
      <th>
        <button pButton pTooltip="Dodaj novi žanr"
                class="p-button-outlined" icon="pi pi-plus"
                (click)="newGenre()"></button>
      </th>
      <th>
        <input pInputText (input)="table.filter($any($event.target).value, 'name', 'equals')"
               placeholder="Unesite naziv" class="p-column-filter"/>
      </th>
      <th>
        <input pInputText (input)="table.filter($any($event.target).value, 'description', 'equals')"
               placeholder="Unesite opis" class="p-column-filter"/>
      </th>
      <th style="width:4rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-genre>
    <tr>
      <td>
        <span class="p-column-title">Id</span>
        {{genre.id}}
      </td>
      <td>
        <span class="p-column-title">Ime</span>
        {{genre.name}}
      </td>
      <td>
        <span class="p-column-title">Prezime</span>
        {{genre.description}}
      </td>
      <td>
        <p-splitButton icon="pi pi-search" pTooltip="Pregledaj žanr" [model]="(genreActions$ | async)!"
                       appendTo="body" (onClick)="router.navigate(['/genre/' + genre.id])"
                       (onDropdownClick)="selectedGenreId=genre.id"></p-splitButton>
      </td>
    </tr>
  </ng-template>
</p-table>
