<div class="grid flex justify-content-center p-m-4">
  <p-card header="Unesite novu knjigu">
    <form class="p-fluid grid flex" [formGroup]="bookForm">
      <!-- Naslov oglasa -->
      <div class="p-field col-12 lg:col-6">
        <span class="p-float-label">
            <input type="text" id="title" pInputText formControlName="title">
            <label for="title">Naslov knjige *</label>
        </span>
      </div>

      <div class="p-field col-12 lg:col-6">
          <span class="p-float-label">
            <input type="text" formControlName="isbn" id="isbn" pInputText />
            <label for="isbn">ISBN *</label>
          </span>
      </div>

      <!-- Odabir autora -->
      <!--<div class="col-12 lg:col-6">
        <div class="p-field" formGroupName="bookAuthor">
          <span class="p-float-label">
            <p-dropdown formControlName="id"
                        [options]="(authors$ | async)!"
                        [filter]="true"
                        [showClear]="true"
                        appendTo="body"
                        id="author"
                        optionLabel="displayName"
                        optionValue="id"
                        [autoDisplayFirst]="false">
            </p-dropdown>
            <label for="author">Autor *</label>
          </span>
        </div>
      </div>-->

      <div class=" col-12 lg:col-6">
        <div class="p-field p-inputgroup" formGroupName="bookAuthor">
          <span>
            <p-button icon="pi pi-plus" (onClick)="openNewAuthorDialog()" pTooltip="Dodaj novog autora"></p-button>
          </span>
          <span class="p-float-label">
            <p-dropdown formControlName="id"
                        [options]="(authors$ | async)!"
                        [filter]="true"
                        [showClear]="true"
                        appendTo="body"
                        id="author"
                        optionLabel="displayName"
                        optionValue="id"
                        [autoDisplayFirst]="false">
            </p-dropdown>
            <label for="author">Autor *</label>
          </span>
        </div>
      </div>

      <div class=" col-12 lg:col-6">
        <div class="p-field" >
          <span class="p-float-label">
            <p-multiSelect formControlName="genres"
                        [options]="(genres$ | async)!"
                        [filter]="true"
                        appendTo="body"
                        id="genres"
                        optionLabel="name">
            </p-multiSelect>
            <label for="genres">Žanrovi *</label>
          </span>
        </div>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <button pButton type="submit" (click)="submitBook()"
              [disabled]="!bookForm.valid || loading"
              [loading]="loading"
              label="Spremi knjigu"></button>
    </ng-template>
  </p-card>
</div>
