<div class="grid flex justify-content-center p-m-4">
  <p-card [header]="id? 'Uredite knjigu': 'Unesite novu knjigu'">
    <form [formGroup]="bookForm" class="p-fluid grid flex">
      <!-- Naslov knjige -->
      <div class="p-field col-12 lg:col-6">
        <span class="p-float-label">
            <input formControlName="title" id="title" pInputText type="text">
            <label for="title">Naslov knjige *</label>
        </span>
      </div>

      <div class="p-field col-12 lg:col-6">
          <span class="p-float-label">
            <input formControlName="isbn" id="isbn" pInputText type="text"/>
            <label for="isbn">ISBN *</label>
          </span>
        <small *ngIf="bookForm.get('isbn')?.dirty && bookForm.get('isbn')?.invalid" class="p-error">ISBN se već
          koristi</small>
      </div>

      <div class=" col-12 lg:col-6">
        <div class="p-field p-inputgroup" formGroupName="bookAuthor">
          <span>
            <p-button (onClick)="openNewAuthorDialog()" icon="pi pi-plus" pTooltip="Dodaj novog autora"></p-button>
          </span>
          <span class="p-float-label">
            <p-dropdown [autoDisplayFirst]="false"
                        [filter]="true"
                        [options]="(authors$ | async)!"
                        [showClear]="true"
                        appendTo="body"
                        formControlName="id"
                        id="author"
                        optionLabel="displayName"
                        optionValue="id">
            </p-dropdown>
            <label for="author">Autor *</label>
          </span>
        </div>
      </div>

      <div class=" col-12 lg:col-6">
        <div class="p-field p-inputgroup">
          <span>
            <p-button (onClick)="openNewGenreDialog()" icon="pi pi-plus" pTooltip="Dodaj novi žanr"></p-button>
          </span>
          <span class="p-float-label">
            <p-multiSelect [filter]="true"
                           [options]="(genres$ | async)!"
                           appendTo="body"
                           dataKey="id"
                           formControlName="genres"
                           id="genres"
                           optionLabel="name">
            </p-multiSelect>
            <label for="genres">Žanrovi *</label>
          </span>
        </div>
      </div>

      <p-fileUpload #fileUpload (uploadHandler)="uploadImages($event)" [customUpload]="true"
                    *ngIf="!dialogRef && (authService.isUserAdmin$ | async)"
                    [maxFileSize]="2000000" [multiple]="true" accept="image/*"
                    cancelLabel="Otkaži"
                    chooseLabel="Odaberi"
                    class="col-12"
                    invalidFileSizeMessageDetail="maksimalna dozvoljena veličina {0}." invalidFileSizeMessageSummary="{0}: Prevelika datoteka, "
                    name="images[]"
                    uploadLabel="Prenesi"></p-fileUpload>

      <div class="col-12" *ngIf="(formImages$ | async)! as formImages">
        <h3 *ngIf="formImages.length > 0">Prenešene slike</h3>
        <div *ngFor="let image of formImages"
             class="grid flex justify-content-center lg:justify-content-between
             md:justify-content-between align-items-center">
          <p-divider class="col-12"></p-divider>
          <img [src]="image.imageUrl!" style="width: 10rem;" class="col-12 lg:col-4 md:col-4 align-self-center">
          <div class="col-12 lg:col-4 md:col-4">{{image.uuid!}}</div>
          <p-button class="col-12 lg:col-4 md:col-4" icon="pi pi-times"
                    (onClick)="removeImage(image.uuid!)"
                    [loading]="imageIsDeleting.get(image.uuid!)!"
                    [disabled]="imageIsDeleting.get(image.uuid!)! || !(authService.isUserAdmin$ | async)"
                    label="Ukloni sliku"></p-button>
        </div>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <button (click)="submitBook()" [disabled]="!bookForm.valid || loading" [loading]="loading"
              label="Spremi knjigu"
              pButton
              type="submit"></button>
    </ng-template>
  </p-card>
</div>
