:host::ng-deep {

  @media screen and (min-width: 576px) {
    p-galleria.p-element {
      max-width: 50rem;
      min-width: 35rem;
      display: inline-block;
    }
  }

  input .p-dropdown-filter {
    width: 100%;
  }

  .p-inputgroup .p-inputtext,
  .p-fluid .p-inputgroup .p-inputtext,
  .p-inputgroup .p-inputwrapper,
  .p-inputgroup .p-inputwrapper > .p-component {
    width: 100%;
  }
}
