<p-toast></p-toast>
<p-menubar [model]="(menuItems$ | async)!">
  <ng-template pTemplate="start">
    <h3 pRipple role="link"
        routerLink="/" routerLinkActive="active" style="cursor: pointer">Posudba knjiga</h3>
  </ng-template>
  <ng-template pTemplate="end">
    <div *ngIf="(isAuthenticated$ | async)!">
      <button (click)="loggedInMenu.toggle($event)" class="p-button-outlined" label="{{(userToken$ | async)!.username}}"
              pButton type="button"></button>
      <p-menu #loggedInMenu [model]="authModelItems" [popup]="true"></p-menu>
    </div>
    <div *ngIf="!(isAuthenticated$ | async)!">
      <p-splitButton (onClick)="navigateToLogin()" [model]="loginItems" label="Prijava"></p-splitButton>
    </div>
  </ng-template>
</p-menubar>
<div class="flex justify-content-center m-4">
  <router-outlet></router-outlet>
</div>
