<p-table [value]="(books$ | async)!" [lazy]="true"
         (onLazyLoad)="loadBooks($event)" dataKey="id"
         [paginator]="true" [rows]="10" [totalRecords]="totalBooks" [loading]="booksLoading"
         [rowsPerPageOptions]="[2, 10, 20]" styleClass="p-datatable-striped"
         [resizableColumns]="true" [responsive]="true"
         [globalFilterFields]="['title','isbn']" #table>

  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn>Id</th>
      <th pResizableColumn pSortableColumn="title">Naslov <p-sortIcon field="title"></p-sortIcon></th>
      <th pResizableColumn pSortableColumn="isbn">ISBN <p-sortIcon field="isbn"></p-sortIcon></th>
      <th>Autor</th>
      <th style="width:8rem"></th>
    </tr>
    <tr>
      <th>
        <button pButton label="Očisti" pTooltip="Očisti sve filtere"
                class="p-button-outlined" icon="pi pi-filter-slash" (click)="table.clear()"></button>
      </th>
      <th>
        <input pInputText (input)="table.filter($any($event.target).value, 'title', 'equals')"
               placeholder="Unesite naslov" class="p-column-filter" />
      </th>
      <th>
        <input pInputText (input)="table.filter($any($event.target).value, 'isbn', 'equals')"
               placeholder="Unesite ISBN" class="p-column-filter" />
      </th>
      <th>
        <p-dropdown [options]="(authors$ | async)!"
                    [filter]="true"
                    placeholder="Odaberite autora"
                    [showClear]="true"
                    (onChange)="table.filter($any($event.target).value, 'author', 'equals')"
                    appendTo="body"
                    optionLabel="displayName"
                    optionValue="id"
                    [autoDisplayFirst]="false">
        </p-dropdown>
      </th>
      <th style="width:4rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-book>
    <tr>
      <td>
        <span class="p-column-title">Id</span>
        {{book.id}}
      </td>
      <td>
        <span class="p-column-title">Naslov</span>
        {{book.title}}
      </td>
      <td>
        <span class="p-column-title">isbn</span>
        {{book.isbn}}
      </td>
      <td>
        <span class="p-column-title">Autor</span>
        {{book.bookAuthor.displayName}}
      </td>
      <td>
        <p-splitButton icon="pi pi-search" pTooltip="Pregledaj knjigu" [model]="bookActions"
                       appendTo="body" (onClick)="router.navigate(['/book/' + book.id])"
                       (onDropdownClick)="selectedBookId=book.id"></p-splitButton>
      </td>
    </tr>
  </ng-template>
</p-table>
