<p-table #table (onLazyLoad)="loadBooks($event)"
         [globalFilterFields]="['title','isbn']" [lazy]="true"
         [loading]="booksLoading" [paginator]="true" [resizableColumns]="true" [responsive]="true"
         [rowsPerPageOptions]="[2, 10, 20]" [rows]="10"
         [totalRecords]="totalBooks" [value]="(books$ | async)!"
         dataKey="id" styleClass="p-datatable-striped">

  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn>Id</th>
      <th pResizableColumn pSortableColumn="title">Naslov
        <p-sortIcon field="title"></p-sortIcon>
      </th>
      <th pResizableColumn pSortableColumn="isbn">ISBN
        <p-sortIcon field="isbn"></p-sortIcon>
      </th>
      <th>Autor</th>
      <th style="width:8rem"></th>
    </tr>
    <tr>
      <th>
        <button (click)="newBook()" class="p-button-outlined"
                icon="pi pi-plus" pButton pTooltip="Nova knjiga"></button>
      </th>
      <th>
        <input (input)="table.filter($any($event.target).value, 'title', 'equals')" class="p-column-filter"
               pInputText placeholder="Unesite naslov"/>
      </th>
      <th>
        <input (input)="table.filter($any($event.target).value, 'isbn', 'equals')" class="p-column-filter"
               pInputText placeholder="Unesite ISBN"/>
      </th>
      <th>
        <p-dropdown (onChange)="table.filter($any($event).value, 'author', 'equals')"
                    [autoDisplayFirst]="false"
                    [filter]="true"
                    [options]="(authors$ | async)!"
                    [showClear]="true"
                    appendTo="body"
                    optionLabel="displayName"
                    optionValue="id"
                    placeholder="Odaberite autora">
        </p-dropdown>
      </th>
      <th style="width:4rem"></th>
    </tr>
  </ng-template>
  <ng-template let-book pTemplate="body">
    <tr>
      <td>
        <span class="p-column-title">Id</span>
        {{book.id}}
      </td>
      <td>
        <span class="p-column-title">Naslov</span>
        {{book.title}}
      </td>
      <td>
        <span class="p-column-title">isbn</span>
        {{book.isbn}}
      </td>
      <td>
        <span class="p-column-title">Autor</span>
        {{book.bookAuthor.displayName}}
      </td>
      <td>
        <p-splitButton (onClick)="router.navigate(['/book/' + book.id])" (onDropdownClick)="selectedBookId=book.id" [model]="(bookActions$ | async)!"
                       appendTo="body" icon="pi pi-search"
                       pTooltip="Pregledaj knjigu"></p-splitButton>
      </td>
    </tr>
  </ng-template>
</p-table>
