<p-card *ngIf="(genre$ | async)! as genre"
        [header]="genre.name"
        class="grid flex justify-content-center">
  <ng-template pTemplate="subtitle">
    <p-button (onClick)="editGenre(genre.id!)" *ngIf="(authService.isUserAdmin$ | async)"
              icon="pi pi-pencil"
              label="Uredite žanr"></p-button>
  </ng-template>
  <p-progressSpinner *ngIf="loading"></p-progressSpinner>
  <ng-template pTemplate="content">
    <div class="grid">
      <div class="col-12">
        <h4>Naslov</h4>
        <p>{{genre.name}}</p>
      </div>
      <div *ngIf="genre.description" class="col-12">
        <h4>Opis</h4>
        <p>{{genre.description}}</p>
      </div>

      <p-tabView class="col-12">
        <p-tabPanel header="Autori koji su pisali žanr">
          <app-author-list [genreId]="genre.id!"></app-author-list>
        </p-tabPanel>
        <p-tabPanel header="Knjige koje su pisane u žanru">
          <app-book-list [genreId]="genre.id!"></app-book-list>
        </p-tabPanel>
        <p-tabPanel header="Oglasi koji sadrže knjige u žanru">
          <app-advert-list [genreId]="genre.id!"></app-advert-list>
        </p-tabPanel>
      </p-tabView>

    </div>
  </ng-template>
</p-card>
