<p-card *ngIf="(genre$ | async)! as genre"
        [header]="genre.name"
        class="grid flex justify-content-center">
  <ng-template pTemplate="subtitle">
    <p-button (onClick)="editGenre(genre.id!)" *ngIf="(authService.isUserAdmin$ | async)"
              icon="pi pi-pencil"
              label="Uredite žanr"></p-button>
  </ng-template>
  <p-progressSpinner *ngIf="loading"></p-progressSpinner>
  <ng-template pTemplate="content">
    <div class="grid">
      <div class="col-12">
        <h4>Naslov</h4>
        <p>{{genre.name}}</p>
      </div>
      <div *ngIf="genre.description" class="col-12">
        <h4>Opis</h4>
        <p>{{genre.description}}</p>
      </div>

      <p-tabView class="col-12">
        <p-tabPanel header="Autori koji su pisali žanr"><!--
          <h4 class="col-12">Autori koji su pisali</h4>
          <div class="col-12"
               *ngFor="let author of (authors$ | async)!">
            <p style="cursor: pointer;" class="underline link-text"
               pTooltip="Pogledajte autora"
               [routerLink]="'/author/' + author.id">{{author.displayName}}</p>
          </div>-->
          <app-author-list [genreId]="genre.id!"></app-author-list>
        </p-tabPanel>
        <p-tabPanel header="Knjige koje su pisane u žanru">
          <!--<h4 class="col-12">Knjige</h4>
          <div class="col-12"
               *ngFor="let book of (books$ | async)!">
            <p style="cursor: pointer;" class="underline link-text"
               pTooltip="Pogledajte autora"
               [routerLink]="'/book/' + book.id">{{book.displayName}}</p>
          </div>-->
          <app-book-list [genreId]="genre.id!"></app-book-list>
        </p-tabPanel>
      </p-tabView>

    </div>
  </ng-template>
</p-card>
