<p-dataView [rows]="10" [value]="adverts" class="p-d-flex p-jc-center" emptyMessage="Oglasi nisu pronađeni"
            layout="list">
  <ng-template pTemplate="header">
    <div class="flex justify-content-end">
      <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </div>
  </ng-template>

  <ng-template let-advert pTemplate="listItem">
    <div class="p-col-12">
      <div class="advert-list-item">
        <!--<p-image src="https://plchldr.co/i/500x250" [preview]="true" width="150" alt="Image"></p-image>-->
        <img src="https://plchldr.co/i/500x250"/>
        <div class="advert-list-detail">
          <div class="advert-name">{{advert.title}}</div>
          <div class="advert-description">{{advert.description}}</div>
          <!--<p-rating [ngModel]="advert.rating" [readonly]="true" [cancel]="false"></p-rating>-->
          <i class="pi pi-tag advert-category-icon"></i>
          <span class="advert-category">{{advert.advertType === 'LOOKING' ? 'Tražim' : 'Nudim'}}</span>
          <div class="advert-description">{{advert.transactionType === 'BUY' ? 'Kupovina' : 'Posudba'}}</div>
        </div>
        <div class="advert-list-action">
          <span *ngIf="advert.price" class="advert-price">{{advert.price}} kn</span>
          <p-button (onClick)="navigateToAdvertDetail(advert.id)" [disabled]="advert.advertStatus !== 'ACTIVE'"
                    icon="pi pi-external-link"
                    pTooltip="Pogledaj"></p-button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template let-advert pTemplate="gridItem">
    <div class="p-col-12 p-md-4">
      <div class="advert-grid-item card">
        <div class="advert-grid-item-top">
          <div>
            <i class="pi pi-tag advert-category-icon"></i>
            <span class="advert-category">{{advert.advertType === 'LOOKING' ? 'Tražim' : 'Nudim'}}</span>
          </div>
        </div>
        <div class="advert-grid-item-content">
          <!--<p-image src="https://plchldr.co/i/500x250" [preview]="true" [width]="gridImageWidth" alt="Image"></p-image>-->
          <img src="https://plchldr.co/i/500x250"/>
          <div class="advert-name">{{advert.title}}</div>
          <div class="advert-description">{{advert.description}}</div>
          <!--<p-rating [ngModel]="advert.rating" [readonly]="true" [cancel]="false"></p-rating>-->
        </div>
        <div class="advert-grid-item-bottom">
          <span *ngIf="advert.price" class="advert-price">{{advert.price}} kn</span>
          <p-button (onClick)="navigateToAdvertDetail(advert.id)" [disabled]="advert.advertStatus !== 'ACTIVE'"
                    icon="pi pi-external-link"
                    pTooltip="Pogledaj"></p-button>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
